*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One';
    color: #fff;
}
body
{
    background: #000;
    background: url(../media/login.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Navigation Bar */

/* header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky
{
    padding: 12px 100px;
    background: #fff;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    border-bottom: 4px solid #fff;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a
{
    color: #000;
}
header.sticky .logo
{
    border-bottom: 4px solid #000;
}
.logout-button a
{
    border: 2px solid #1E90FF;
    padding: 1vh 1vw;
    border-radius: 10px;
    transition: 0.25s;
}
.logout-button a:hover
{
    background-color: #1E90FF;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: rgba(0,0,0,.6);
  width: 100%;
  z-index: 100000;
  transition: 0.5s;
}
header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}
header nav {
  float: right;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: 0.25s;
}
header nav ul li a:hover,
header nav ul li a.active {
  color: #fff;
  background: #2196f3;
}
.menu-toggle {
  color: #fff;
  padding: 0 15px;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
}

/* End of Navigation Bar */
/* Login */

#joinMsg{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 15%;
    border-radius: 18px;
    bottom: 1vh;
    width: 47.5%;
    left: 1vw;
}

#joinMsg2{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 15%;
    border-radius: 18px;
    bottom: 1vh;
    width: 47.5%;
    right: 1vw;
}

#joinMsg h2, #joinMsg2 h2{
  position: relative;
  margin-top: 0.5em;
  text-align: center;
  padding: 1em auto;
}

#joinMsg p, #joinMsg2 p{
  position: relative;
  padding: 0 1em;
  margin-top: 5px;
  text-align: center;
}

#joinMsg2 img{
  position: absolute;
  left: 23vw;
}

.login-box,
.register-box {
  position: relative;
  top: 18vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  background: rgba(0,0,0,.4);
  padding: 40px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.75);
}
.register-box {
  top: 25vh;
}
.register-box h2,
.login-box h2 {
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
    color: #2196f3;
    text-transform: uppercase;
}
.register-box input,
.login-box input {
    padding: 10px 0;
    margin-bottom: 30px;
    background: none;
}
.login-box textarea {
    height: 80px;
    padding: 10px 0;
    background: none;
    margin-bottom: 40px;
}
.register-box input,
.login-box input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid #999;
}
.register-box form div,
.login-box form div {
    position: relative;
}
.register-box form div label,
.login-box form div label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    pointer-events: none;
    transition: .5s;
}
.register-box input:focus ~ label,
.register-box input:valid ~ label ,
.login-box input:focus ~ label,
.login-box input:valid ~ label {
    top: -16px;
    left: 0;
    color: #2196f3;
    font-size: 14px;
    font-weight: bold;
}
.register-box input:focus,
.register-box input:valid,
.login-box input:focus,
.login-box input:valid {
    border-bottom: 2px solid #2196f3;
}
.register-button,
.login-button {
    position: relative;
    text-decoration: none;
    background: none;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    width: 225px;
    text-align: center;
    border: 2px solid #1E90FF;
    margin-top: 1vh;
    padding: 1.5vh;
    outline: none;
    color: #fff;
    border-radius: 8px;
    transition: 0.25s;
    cursor:pointer;
}
.register-button:hover,
.login-button:hover {
  background-color: #1E90FF;
  color: #111;
}
.index-reg {
  position: relative;
  margin-top: 14vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: rgba(0,0,0,.4);
  padding: 40px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.75);
}
.index-reg h2 {
  text-align: center;
  margin-bottom: 20px;
  padding: 0;
  color: #2196f3;
  text-transform: uppercase;
}
.reg-back {
  position: relative;
  margin-top: -5vh;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 200px;
  background: rgba(0,0,0,.4);
  padding: 20px 10px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.75);
}
.reg-button {
    position: relative;
    text-decoration: none;
    background: none;
    display: inline-block;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #1E90FF;
    padding: 1.5vh;
    outline: none;
    color: #fff;
    border-radius: 8px;
    transition: 0.25s;
    cursor:pointer;
}
.reg-button:hover {
  background-color: #1E90FF;
  color: #111;
}
@media screen and (max-width: 900px) {
  .login-box {
    top: 25vh;
    width: 90%;
  }
  .index-reg {
    top: 8vh;
    width: 90%;
  }
  .login-button {
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 400px) {
  .login-box {
    top: 35vh;
  }
  .index-reg {
    top: 12vh;
  }
}

/* End of Login */
/* Homepage Welcome msg and search bar */

.welcome{
    font-size: 150%;
    text-align: center;
    margin-top: 15%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #1E90FF;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #f3f3f3;
  font-size: 130%;
}

.searchTerm:focus{
  color: black;
}

#searchButton{
  width: 55px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #1E90FF;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Pages */

.mainbody {
  width: 80%;
  margin: 12vh auto;
}
.question-box {
    position: relative;
    top: 18vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: rgba(0,0,0,.4);
    padding: 40px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.75);
}

.question-box h2 {
    text-align: center;
    margin: 0 0 40px;
    padding: 0;
    color: #2196f3;
    text-transform: uppercase;
}
.question-box input {
    padding: 10px 0;
    margin-bottom: 30px;
    background: none;
}
.question-box textarea {
    height: 80px;
    padding: 10px 0;
    background: none;
    margin-bottom: 40px;
}
.question-box input,
.question-box textarea {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid #999;
}
.question-box textarea {
    margin-bottom: 20px;
}
.question-box input[type="submit"] {
    border-bottom: none;
    border-radius: 8px;
    width: 18%;
    cursor: pointer;
    background: none;
    border: 2px solid #2196f3;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    transition: .5s;
}
.question-box form div {
    position: relative;
}
.question-box form div label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    pointer-events: none;
    transition: .5s;
}
.question-box input:focus ~ label,
.question-box textarea:focus ~ label,
.question-box input:valid ~ label,
.question-box textarea:valid ~ label{
    top: -16px;
    left: 0;
    color: #2196f3;
    font-size: 14px;
    font-weight: bold;
}
.question-box input:focus,
.question-box textarea:focus,
.question-box input:valid,
.question-box textarea:valid {
    border-bottom: 2px solid #2196f3;
}
.question-box input[type="submit"]:hover {
  background-color: #2196f3;
  color: #111;
}

/* Questions */

#list-questions{
  position: relative;
  top: 18vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: rgba(0,0,0,.4);
  padding: 40px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.75);
  margin-top: 20%;
}

#question1,
#question2,
#question3,
#question4,
#question5
{
  background: black;
  opacity: 60%;
  border-radius: 10px;
  padding: 2vh;
  margin: 2vh;
  text-align: center;
}



/* Useful Links */
.links-box{
  margin-top: 10%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: rgba(255,255,255,10);
  padding: 40px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.75);
}

.links-box h2{
  text-align: center;
  margin: 0 0 40px;
  padding: 0;
  color: #2196f3;
  text-transform: uppercase;
}

.img{
  height: 100px;
  width: auto;
  margin: 1%;
  display: inline-block;
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.links-box img:hover {
    color: red;
    border: 10px;
}

/* Settings */

.settings-box
{
  display: block;
  position: relative;
  margin-top: 10%;
}
.settings
{
  margin-top: 1%;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background: rgba(0,0,0,.2);
  padding: 40px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.75);
}
.center {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}
input[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  transition: .5s;
}
input:checked[type="checkbox"] {
  background: #03a9f4;
}
input[type="checkbox"]:before {
  content: ' ';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: .5s;
}
input:checked[type="checkbox"]:before {
  left: 40px;
}
