*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One', sans-serif;
    color: #fff;
}
body
{
    background: #000;
    /* min-height: 90vh; */
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky
{
    padding: 12px 100px;
    background: #fff;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    border-bottom: 4px solid #fff;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
body
{
    background: url(../media/login.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header.sticky .logo,
header.sticky ul li a
{
    color: #000;
}
header.sticky .logo
{
    border-bottom: 4px solid #000;
}
.logout-button a
{
    border: 2px solid #1E90FF;
    padding: 1vh 1vw;
    border-radius: 10px;
    transition: 0.25s;
}
.logout-button a:hover
{
    background-color: #1E90FF;
}




/* Login */

.box
{
    background-color: rgba(0,0,0,0.2);
    width: 23%;
    height: auto;
    border-radius: 24px;
    padding: 2em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.box input[type = "text"],.box input[type = "password"],.box-register input[type = "text"],.box-register input[type = "password"]
{
    background: none;
    display: block;
    margin: 2vh auto;
    text-align: center;
    border: 2px solid #111;
    padding: 2vh 1.5vw;
    width: 70%;
    outline: none;
    color: #fff;
    font-size: 120%;
    border-radius: 18px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus
{
    width: 80%;
    border-color: #1E90FF;
}

.login-button,
.register-button,
.register-button2
{
    text-decoration: none;
    font-size: 120%;
    background: none;
    display: inline-block;
    margin: 0.5vh;
    width: 40%;
    text-align: center;
    border: 2px solid #1E90FF;
    padding: 2vh;
    outline: none;
    color: #fff;
    border-radius: 18px;
    transition: 0.25s;
    cursor:pointer;
}

.register-button,
.register-button2
{
    border: px solid #7CFC00;
}

.login-button:hover
{
    background: #1E90FF;
    color: #000;
}

.register-button:hover,
.register-button2:hover
{
    background: #7CFC00;
    color: #000;
}


/* Homepage Welcome msg and search bar */
.welcome{
    font-size: 150%;
    text-align: center;
    margin-top: 15%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #1E90FF;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #f3f3f3;
  font-size: 130%;
}

.searchTerm:focus{
  color: black;
}

.searchButton{
  width: 55px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #1E90FF;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* End of Login */

#joinMsg{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 15%;
    border-radius: 18px;
    bottom: 1vh;
    width: 47.5%;
    left: 1vw;
}

#joinMsg2{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 15%;
    border-radius: 18px;
    bottom: 1vh;
    width: 47.5%;
    right: 1vw;
}

#joinMsg h2, #joinMsg2 h2{
  position: relative;
  margin-top: 0.5em;
  text-align: center;
  padding: 1em auto;
}

#joinMsg p, #joinMsg2 p{
  position: relative;
  padding: 0 1em;
  margin-top: 5px;
  text-align: center;
}

#joinMsg2 img{
  position: absolute;
  left: 23vw;
}

/* Settings */

.settings
{
    position: relative;
    top: 20vh;
    background-color: rgba(0,0,0,0.3);
    border-bottom: 4px solid #8B0000;
    border-radius: 6px;
    width: 25%;
    text-align: center;
    padding: 2vh;
    margin: 5vh auto;
    transition: 0.25s;
}
.settings:hover
{
    border: 4px solid #1E90FF;
}

/* Groups */

.opened-question,
.question-list,
.group-modules
{
    position: relative;
    top: 10vh;
    background-color: rgba(0,0,0,0.3);
    border-radius: 18px;
    text-align: left;
    margin: 5vh auto;
    letter-spacing: 2px;
}
.group-modules
{
    padding: 3vh;
    width: 75%;
}
.group-modules h2
{
    padding: 3vh;
}
.module-discription
{
    letter-spacing: 1px;
}

/* Pages */

.opened-question,
.question-list
{
    position: absolute;
    margin-left: 3vw;
    width: 40vw;
    height: 100vh;
}
.opened-question h1,
.answers,
.question-list h1,
.questions
{
    position: relative;
    border-radius: 6px;
    width: 90%;
    padding: 2vh;
    margin: 3vh auto;
    transition: 0.25s;
}
.answers,
.questions
{
    background-color: rgba(0,0,0,0.3);
}
.opened-question h1,
.question-list h1
{
    top: 2vh;
    text-transform: uppercase;
}
.answers:hover,
.questions:hover
{
    background-color: #fff;
    color: #000;
}
.opened-question
{
    left: 41vw;
    width: 52vw;
}

/* From Romel's style.css */
.align {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* padding-bottom: 1vh; */
}

.card {
	margin-top: 28px;
	height: 100%;
	max-height: 446px;
	width: 396px;
	background: #121212;
	border: 1px solid #373737;
	border-radius: 10px;
	overflow: hidden;
	transition: max-height 0.2s;
}

.extend {
	max-height: 480px;
}

.head {
	width: 100%;
	display: flex;
	height: 72px;
	border-bottom: 1px solid #373737;
	justify-content: space-between;
}

.head a {
	height: 100%;
	padding: 0 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(140,140,140);
	font-size: 20px;
	font-weight: 500;
}

.head .selected {
	position: relative;
	color: #1E90FF;
	font-weight: 700;
}

.head .selected:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background: #1E90FF;
	border-radius: 99px 99px 0 0;
}

.tabs {
	height: calc(100% - 72px);
	display: flex;
}

form {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	padding: 44px 38px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	right: 0;
	transition: right 0.2s;
}

.extend form {
	right: 100%;
}

.inputs {
	width: 100%;
	padding-top: 6px;
}

.input {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	align-items: center;
}

.input input {
	width: 100%;
	font-size: 120%;
	background: #1C1C1C;
	border-radius: 8px;
	padding: 1vh;
	/* color: rgb(220,220,220); */
}

.card button {
	display: block;
	background: #00FF5C;
	padding: 14px 52px;
	border-radius: 12px;
	color: #003B15;
	font-weight: 700;
	font-size: 21px;
	cursor: pointer;
} */
