*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One';
    color: #fff;
}
body
{
    background: #000;
    background: url(../media/login.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Navigation Bar */

/* header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky
{
    padding: 12px 100px;
    background: #fff;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    border-bottom: 4px solid #fff;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a
{
    color: #000;
}
header.sticky .logo
{
    border-bottom: 4px solid #000;
}
.logout-button a
{
    border: 2px solid #1E90FF;
    padding: 1vh 1vw;
    border-radius: 10px;
    transition: 0.25s;
}
.logout-button a:hover
{
    background-color: #1E90FF;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #262626;
  width: 100%;
  z-index: 100000;
  transition: 0.5s;
}
header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}
header nav {
  float: right;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: 0.25s;
}
header nav ul li a:hover,
header nav ul li a.active {
  color: #fff;
  background: #2196f3;
}
.menu-toggle {
  color: #fff;
  padding: 0 15px;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
}

/* End of Navigation Bar */
/* Login */

#joinMsg{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 15%;
    border-radius: 18px;
    bottom: 1vh;
    width: 47.5%;
    left: 1vw;
}

#joinMsg2{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 15%;
    border-radius: 18px;
    bottom: 1vh;
    width: 47.5%;
    right: 1vw;
}

#joinMsg h2, #joinMsg2 h2{
  position: relative;
  margin-top: 0.5em;
  text-align: center;
  padding: 1em auto;
}

#joinMsg p, #joinMsg2 p{
  position: relative;
  padding: 0 1em;
  margin-top: 5px;
  text-align: center;
}

#joinMsg2 img{
  position: absolute;
  left: 23vw;
}



/* End of Login */
/* Homepage Welcome msg and search bar */

.welcome{
    font-size: 150%;
    text-align: center;
    margin-top: 15%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #1E90FF;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #f3f3f3;
  font-size: 130%;
}

.searchTerm:focus{
  color: black;
}

.searchButton{
  width: 55px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #1E90FF;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Pages */

.mainbody {
  width: 80%;
  margin: 12vh auto;
}
.question-box {
    position: relative;
    top: 18vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: rgba(0,0,0,.4);
    padding: 40px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.75);
}

.question-box h2 {
    text-align: center;
    margin: 0 0 40px;
    padding: 0;
    color: #2196f3;
    text-transform: uppercase;
}
.question-box input {
    padding: 10px 0;
    margin-bottom: 30px;
    background: none;
}
.question-box textarea {
    height: 80px;
    padding: 10px 0;
    background: none;
    margin-bottom: 40px;
}
.question-box input,
.question-box textarea {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid #999;
}
.question-box textarea {
    margin-bottom: 20px;
}
.question-box input[type="submit"] {
    border-bottom: none;
    border-radius: 8px;
    width: 18%;
    cursor: pointer;
    background: none;
    border: 2px solid #2196f3;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    transition: .5s;
}
.question-box form div {
    position: relative;
}
.question-box form div label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    pointer-events: none;
    transition: .5s;
}
.question-box input:focus ~ label,
.question-box textarea:focus ~ label,
.question-box input:valid ~ label,
.question-box textarea:valid ~ label{
    top: -16px;
    left: 0;
    color: #2196f3;
    font-size: 14px;
    font-weight: bold;
}
.question-box input:focus,
.question-box textarea:focus,
.question-box input:valid,
.question-box textarea:valid {
    border-bottom: 2px solid #2196f3;
}
.question-box input[type="submit"]:hover {
  background-color: #2196f3;
  color: #111;
}

/* Questions */

#list-questions{
  position: relative;
  top: 18vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: rgba(0,0,0,.4);
  padding: 40px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.75);
}

#question1,
#question2,
#question3,
#question4,
#question5
{
  background-color: blue;
  padding: 1vh;
  margin: 1vh;
  text-align: center;
}

/* Settings */

.settings
{
    position: relative;
    top: 20vh;
    background-color: rgba(0,0,0,0.3);
    border-bottom: 4px solid #8B0000;
    border-radius: 6px;
    width: 25%;
    text-align: center;
    padding: 2vh;
    margin: 5vh auto;
    transition: 0.25s;
}
.settings:hover
{
    border: 4px solid #1E90FF;
}

.img {
  width: 100px;
  height: 100px;
}
