*{
    font-family: 'Patua One';
    margin: 0;
    padding: 0;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #343746;
}

.logo{
  color: white;
  letter-spacing: 4px;
  font-size: 175%;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 135%;
}

.nav-logout a{
  /* background-color: #1E90FF; */
  border: 2px solid #1E90FF;
  padding: 1vh 1vw;
  border-radius: 15px;
  color: #111;
  transition: 0.25s;
}

.nav-logout a:hover{
  background: #1E90FF;
}

/* LOGIN */

.box, .box-register{
  background-color: rgba(0,0,0,0.2);
  width: 20%;
  height: 38%;
  border-radius: 24px;
  padding: 5em;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

h1{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.box input[type = "text"],.box input[type = "password"],.box-register input[type = "text"],.box-register input[type = "password"]{
  background: none;
  display: block;
  margin: 2vh auto;
  text-align: center;
  border: 2px solid #343746;
  padding: 2vh 1.5vw;
  width: 12vw;
  outline: none;
  color: #fff;
  font-size: 120%;
  border-radius: 18px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 75%;
    border-color: #1E90FF;
}

.login-button, .register-button{
  text-decoration: none;
  font-size: 120%;
  background: none;
  display: block;
  margin: 2vh 4vw;
  text-align: center;
  border: 2px solid #1E90FF;
  padding: 2vh;
  outline: none;
  color: #fff;
  border-radius: 18px;
  transition: 0.25s;
  cursor:pointer;
}

.register-button{
  border: 2px solid #7CFC00;
}

.login-button:hover{
  background: #1E90FF;
}

.register-button:hover{
  background: #7CFC00;
}

.index-img{
  width: 100%;
  height: 100%;
  background-image: url(../static/media/loginnbackground.png);
  background-size: cover;
}

/* END OF LOGIN */

@media screen and (max-width:1500px){
  .nav-links{
    width: 60%;
  }
}
